auction/soapUI/Project1.wsdl


<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Process"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/Process"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://10.207.66.120:8001/soa-infra/services/default/Project1!1.0/Process.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plnk:partnerLinkType name="ProcessPortTypePartnerLinkType">
        <plnk:role name="ProcessPortTypeProvider">
            <plnk:portType name="tns:ProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/Process">
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="argument1" type="xsd:string"/>
                        <xsd:element name="argument2" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="startResponse">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="startResponse">
        <wsdl:part name="parameters" element="tns:startResponse"/>
    </wsdl:message>
    <wsdl:portType name="ProcessPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
            <wsdl:output message="tns:startResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcessBinding" type="tns:ProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="start">
            <wsdlsoap:operation style="document" soapAction="start"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Process.service">
        <wsdl:port name="ProcessPort" binding="tns:ProcessBinding">
            <wsdlsoap:address location="http://10.207.66.120:8001/soa-infra/services/default/Project1/Process.service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
