auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/Common/Toggle/ABM/v1.0/ApiToggleBean-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<xs:schema
	xmlns:tns="http://xmlns.avocent.com/commonplatform/cps/utils/apiosbutility/toggle"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://xmlns.avocent.com/commonplatform/cps/utils/apiosbutility/toggle">

	<xs:element name="getServiceStatus" type="tns:getServiceStatus" />

	<xs:element name="getServiceStatusResponse" type="tns:getServiceStatusResponse" />

	<xs:element name="getStatusForAllServices" type="tns:getStatusForAllServices" />

	<xs:element name="getStatusForAllServicesResponse" type="tns:getStatusForAllServicesResponse" />

	<xs:element name="toggleOFFAll" type="tns:toggleOFFAll" />

	<xs:element name="toggleOFFAllResponse" type="tns:toggleOFFAllResponse" />

	<xs:element name="toggleONAll" type="tns:toggleONAll" />

	<xs:element name="toggleONAllResponse" type="tns:toggleONAllResponse" />

	<xs:element name="update_status" type="tns:update_status" />

	<xs:element name="update_statusResponse" type="tns:update_statusResponse" />

	<xs:complexType name="update_status">
		<xs:sequence>
			<xs:element name="ServiceAttributes" type="tns:ServiceAttributes"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ServiceAttributes">
		<xs:sequence>
			<xs:element name="service_name" type="xs:string"
				minOccurs="0" />
			<xs:element name="service_uri" type="xs:string" minOccurs="0" />
			<xs:element name="service_type" type="xs:string"
				minOccurs="0" />
			<xs:element name="status" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="update_statusResponse">
		<xs:sequence>
			<xs:element name="Is_Updated" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getStatusForAllServices">
		<xs:sequence>
			<xs:element name="ProjectName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getStatusForAllServicesResponse">
		<xs:sequence>
			<xs:element name="StatusOfAllServices" type="tns:ServiceAttributes"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getServiceStatus">
		<xs:sequence>
			<xs:element name="ServiceAttributes" type="tns:ServiceAttributes"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getServiceStatusResponse">
		<xs:sequence>
			<xs:element name="IsServiceEnabled" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="toggleOFFAll">
		<xs:sequence>
			<xs:element name="ProjectName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="toggleOFFAllResponse">
		<xs:sequence>
			<xs:element name="AllServiceSDisabled" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="toggleONAll">
		<xs:sequence>
			<xs:element name="ProjectName" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="toggleONAllResponse">
		<xs:sequence>
			<xs:element name="AllServiceSEnabled" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>