auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/CPS/ETL/V1/Job_CDMR_DW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://talend.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://talend.org" xmlns:intf="http://talend.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://talend.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="args">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
     </sequence>

    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_string">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="runJobReturn">
    <complexType>

     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ArrayOf_xsd_string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="runJobResponse">

      <wsdl:part element="impl:runJobReturn" name="runJobReturn"/>

   </wsdl:message>

   <wsdl:message name="runJobRequest">

      <wsdl:part element="impl:args" name="args"/>

   </wsdl:message>

   <wsdl:portType name="ETL_CDMR_DW">

      <wsdl:operation name="runJob" parameterOrder="args">

         <wsdl:input message="impl:runJobRequest" name="runJobRequest"/>

         <wsdl:output message="impl:runJobResponse" name="runJobResponse"/>

      </wsdl:operation>

   </wsdl:portType>
  

</wsdl:definitions>
