auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/CPS/Licensing/V1/LicensingEventSubscriber.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:tns="http://lic.cps.commonplatform.avocent.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://lic.cps.commonplatform.avocent.com/">

<xs:element name="deviceAddMoveEvent" type="tns:deviceAddMoveEvent"/>

<xs:element name="deviceDeleteEvent" type="tns:deviceDeleteEvent"/>

<xs:complexType name="deviceDeleteEvent">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deviceAddMoveEvent">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
