auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Industry/AUCTION/User/Services/v2/UserService-v2.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--
Name: BidderService-v2.xsd

Description: WSDL for Bidder Service

Copyright (c) 2012 jdap Corporation. All rights reserved.
-->
<wsdl:definitions targetNamespace="http://xmlns.jdap.com/auction/User/Services/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.jdap.com/auction/User/Services/v2"
                  xmlns:fault="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:usermsg="http://xmlns.jdap.com/auction/User/Messages/v2" name="UserService_v2">
    <wsdl:documentation>Version 1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.jdap.com/auction/User/Messages/v2"
                        schemaLocation="../../../../../../EnterpriseObjectLibrary/Industry/AUCTION/User/Messages/v2/UserMessages-v2.xsd"/>
                        
            <xsd:import schemaLocation="../../../../../../EnterpriseObjectLibrary/Common/Fault/v2/ApiFault-v2.xsd"
                        namespace="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"/>
        </xsd:schema>
    </wsdl:types>
    
     <wsdl:message name="CreateBidderRequest">
        <wsdl:part name="input" element="usermsg:CreateBidderRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateBidderResponse">
        <wsdl:part name="output" element="usermsg:CreateBidderResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateBidderRequest">
        <wsdl:part name="input" element="usermsg:UpdateBidderRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateBidderResponse">
        <wsdl:part name="output" element="usermsg:UpdateBidderResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteBidderRequest">
        <wsdl:part name="input" element="usermsg:DeleteBidderRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteBidderResponse">
        <wsdl:part name="output" element="usermsg:DeleteBidderResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QueryBidderRequest">
        <wsdl:part name="input" element="usermsg:QueryBidderRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryBidderResponse">
        <wsdl:part name="output" element="usermsg:QueryBidderResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QueryBidderDetailsRequest">
        <wsdl:part name="input" element="usermsg:QueryBidderDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryBidderDetailsResponse">
        <wsdl:part name="output" element="usermsg:QueryBidderDetailsResponseMessage"/>
    </wsdl:message>
 
    <wsdl:message name="CreateBidderDetailsRequest">
        <wsdl:part name="input" element="usermsg:CreateBidderDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateBidderDetailsResponse">
        <wsdl:part name="output" element="usermsg:CreateBidderDetailsResponseMessage"/>
    </wsdl:message>
    
    
       <wsdl:message name="CreateSellerRequest">
        <wsdl:part name="input" element="usermsg:CreateSellerRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateSellerResponse">
        <wsdl:part name="output" element="usermsg:CreateSellerResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateSellerRequest">
        <wsdl:part name="input" element="usermsg:UpdateSellerRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateSellerResponse">
        <wsdl:part name="output" element="usermsg:UpdateSellerResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteSellerRequest">
        <wsdl:part name="input" element="usermsg:DeleteSellerRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteSellerResponse">
        <wsdl:part name="output" element="usermsg:DeleteSellerResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QuerySellerRequest">
        <wsdl:part name="input" element="usermsg:QuerySellerRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QuerySellerResponse">
        <wsdl:part name="output" element="usermsg:QuerySellerResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QuerySellerDetailsRequest">
        <wsdl:part name="input" element="usermsg:QuerySellerDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QuerySellerDetailsResponse">
        <wsdl:part name="output" element="usermsg:QuerySellerDetailsResponseMessage"/>
    </wsdl:message>
 
    <wsdl:message name="CreateSellerDetailsRequest">
        <wsdl:part name="input" element="usermsg:CreateSellerDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateSellerDetailsResponse">
        <wsdl:part name="output" element="usermsg:CreateSellerDetailsResponseMessage"/>
    </wsdl:message>
    
    
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="fault:ApiFault"/>
    </wsdl:message>
    <wsdl:portType name="BidderServicePortType_v2">

        <wsdl:operation name="createBidder">
            <wsdl:input message="tns:CreateBidderRequest"/>
            <wsdl:output message="tns:CreateBidderResponse"/>
            <wsdl:fault name="CreateBidderFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateBidder">
            <wsdl:input message="tns:UpdateBidderRequest"/>
            <wsdl:output message="tns:UpdateBidderResponse"/>
            <wsdl:fault name="UpdateBidderFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="queryBidderDetails">
            <wsdl:input message="tns:QueryBidderDetailsRequest"/>
            <wsdl:output message="tns:QueryBidderDetailsResponse"/>
            <wsdl:fault name="QueryBidderDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteBidder">
            <wsdl:input message="tns:DeleteBidderRequest"/>
            <wsdl:output message="tns:DeleteBidderResponse"/>
            <wsdl:fault name="DeleteBidderFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="queryBidder">
            <wsdl:input message="tns:QueryBidderRequest"/>
            <wsdl:output message="tns:QueryBidderResponse"/>
            <wsdl:fault name="QueryBidderFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="createBidderDetails">
            <wsdl:input message="tns:CreateBidderDetailsRequest"/>
            <wsdl:output message="tns:CreateBidderDetailsResponse"/>
            <wsdl:fault name="CreateBidderDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        
        
                <wsdl:operation name="createSeller">
            <wsdl:input message="tns:CreateSellerRequest"/>
            <wsdl:output message="tns:CreateSellerResponse"/>
            <wsdl:fault name="CreateSellerFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateSeller">
            <wsdl:input message="tns:UpdateSellerRequest"/>
            <wsdl:output message="tns:UpdateSellerResponse"/>
            <wsdl:fault name="UpdateSellerFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="querySellerDetails">
            <wsdl:input message="tns:QuerySellerDetailsRequest"/>
            <wsdl:output message="tns:QuerySellerDetailsResponse"/>
            <wsdl:fault name="QuerySellerDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteSeller">
            <wsdl:input message="tns:DeleteSellerRequest"/>
            <wsdl:output message="tns:DeleteSellerResponse"/>
            <wsdl:fault name="DeleteSellerFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="querySeller">
            <wsdl:input message="tns:QuerySellerRequest"/>
            <wsdl:output message="tns:QuerySellerResponse"/>
            <wsdl:fault name="QuerySellerFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="createSellerDetails">
            <wsdl:input message="tns:CreateSellerDetailsRequest"/>
            <wsdl:output message="tns:CreateSellerDetailsResponse"/>
            <wsdl:fault name="CreateSellerDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="BidderServiceBinding_v2" type="tns:BidderServicePortType_v2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="createBidder">
            <soap:operation style="document" soapAction="createBidder"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateBidderFault">
                <soap:fault name="CreateBidderFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateBidder">
            <soap:operation style="document" soapAction="updateBidder"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="UpdateBidderFault">
                <soap:fault name="UpdateBidderFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryBidderDetails">
            <soap:operation style="document" soapAction="queryBidderDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryBidderDetailsFault">
                <soap:fault name="QueryBidderDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="deleteBidder">
            <soap:operation style="document" soapAction="deleteBidder"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="DeleteBidderFault">
                <soap:fault name="DeleteBidderFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryBidder">
            <soap:operation style="document" soapAction="queryBidder"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryBidderFault">
                <soap:fault name="QueryBidderFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="createBidderDetails">
            <soap:operation style="document" soapAction="createBidderDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bidder/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateBidderDetailsFault">
                <soap:fault name="CreateBidderDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
               <wsdl:operation name="createSeller">
            <soap:operation style="document" soapAction="createSeller"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateSellerFault">
                <soap:fault name="CreateSellerFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateSeller">
            <soap:operation style="document" soapAction="updateSeller"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="UpdateSellerFault">
                <soap:fault name="UpdateSellerFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="querySellerDetails">
            <soap:operation style="document" soapAction="querySellerDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QuerySellerDetailsFault">
                <soap:fault name="QuerySellerDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="deleteSeller">
            <soap:operation style="document" soapAction="deleteSeller"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="DeleteSellerFault">
                <soap:fault name="DeleteSellerFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="querySeller">
            <soap:operation style="document" soapAction="querySeller"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QuerySellerFault">
                <soap:fault name="QuerySellerFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="createSellerDetails">
            <soap:operation style="document" soapAction="createSellerDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Seller/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateSellerDetailsFault">
                <soap:fault name="CreateSellerDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>
    <wsdl:service name="UserService_v2">
        <wsdl:port name="UserServicePort_v2" binding="tns:UserServiceBinding_v2">
            <soap:address location="http://auction-platform:8011/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
