auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Common/Toggle/Services/v1.0/ExternalApiToggleService-v1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ExternalApiToggleService"
                  targetNamespace="http://xmlns.avocent.com/Common/Toggle/ApiToggle/Services/v1.0"
                  xmlns:tns="http://xmlns.avocent.com/Common/Toggle/ApiToggle/Services/v1.0"
                  xmlns:ns1="http://xmlns.avocent.com/Common/Toggle/ApiToggle/Messages/v1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:flt="http://xmlns.avocent.com/Common/Fault/ApiFault/v1.0">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://xmlns.avocent.com/Common/Toggle/ApiToggle/Messages/v1.0"
				schemaLocation="../../../../../EnterpriseObjectLibrary/Common/Toggle/Messages/v1.0/ApiToggleMessages-v1.0.xsd" />
		<xsd:import schemaLocation="../../../../../EnterpriseObjectLibrary/Common/Fault/v1.0/ApiFault-v1.0.xsd"
                        namespace="http://xmlns.avocent.com/Common/Fault/ApiFault/v1.0"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UpdateStatusRequestMessage">
		<wsdl:part name="input" element="ns1:UpdateStatusRequest" />
	</wsdl:message>
	<wsdl:message name="GetServStatusRequestMessage">
		<wsdl:part name="input" element="ns1:GetServStatusRequest" />
	</wsdl:message>
	<wsdl:message name="GetServStatusResponseMessage">
		<wsdl:part name="output" element="ns1:GetServStatusResponse" />
	</wsdl:message>
	<wsdl:message name="UpdateStatusResponseMessage">
		<wsdl:part name="output" element="ns1:UpdateStatusResponse" />
	</wsdl:message>
	<wsdl:message name="GetStatusForAllServicesRequestMessage">
		<wsdl:part name="output" element="ns1:GetStatusForAllServicesRequest" />
	</wsdl:message>
	<wsdl:message name="GetStatusForAllServicesResponseMessage">
		<wsdl:part name="output" element="ns1:GetStatusForAllServicesResponse" />
	</wsdl:message>
	<wsdl:message name="ToggleDisableAllRequestMessage">
		<wsdl:part name="input" element="ns1:ToggleDisableAllRequest" />
	</wsdl:message>
	<wsdl:message name="ToggleDisableAllResponseMessage">
		<wsdl:part name="output" element="ns1:ToggleDisableAllResponse" />
	</wsdl:message>
	<wsdl:message name="ToggleEnableAllRequestMessage">
		<wsdl:part name="input" element="ns1:ToggleEnableAllRequest" />
	</wsdl:message>
	<wsdl:message name="ToggleEnableAllResponseMessage">
		<wsdl:part name="output" element="ns1:ToggleEnableAllResponse" />
	</wsdl:message>
	<wsdl:message name="Fault">
        <wsdl:part name="fault" element="flt:ApiFault"/>
    </wsdl:message>
	<wsdl:portType name="ApiToggleServicePortType_v1.0">
		<wsdl:operation name="updateStatus">
			<wsdl:input message="tns:UpdateStatusRequestMessage" />
			<wsdl:output message="tns:UpdateStatusResponseMessage" />
			<wsdl:fault name="updateStatusFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getServiceStatus">
			<wsdl:input message="tns:GetServStatusRequestMessage" />
			<wsdl:output message="tns:GetServStatusResponseMessage" />
			<wsdl:fault name="getServiceStatusFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="getServiceStatusForAllServices">
			<wsdl:input message="tns:GetStatusForAllServicesRequestMessage" />
			<wsdl:output message="tns:GetStatusForAllServicesResponseMessage" />
			<wsdl:fault name="getServiceStatusForAllServicesFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="toggleEnableAll">
			<wsdl:input message="tns:ToggleEnableAllRequestMessage" />
			<wsdl:output message="tns:ToggleEnableAllResponseMessage" />
			<wsdl:fault name="toggleEnableAllFault" message="tns:Fault"/>
		</wsdl:operation>
		<wsdl:operation name="toggleDisableAll">
			<wsdl:input message="tns:ToggleDisableAllRequestMessage" />
			<wsdl:output message="tns:ToggleDisableAllResponseMessage" />
			<wsdl:fault name="toggleDisableAllFault" message="tns:Fault"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>