auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/CoreApps/AggregatorService/V1/ObjectStateChangedNotificationType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:tns="http://xmlns.avocent.com/commonplatform/objectstatechangednotification" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xmlns.avocent.com/commonplatform/objectstatechangednotification">

<xs:complexType name="ObjectStateChangedNotificationType">
<xs:sequence>
<xs:element name="EventClass" type="xs:string"/>
<xs:element name="Header" type="tns:ObjectStateChangedNotificationHeader"/>
<xs:element name="Payload" type="tns:ObjectStateChangedNotificationPayload" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObjectStateChangedNotificationHeader">
<xs:sequence>
<xs:element name="StateChangeReason" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObjectStateChangedNotificationPayload">
<xs:sequence>
<xs:element name="ObjectStateInformation" type="tns:ObjectStateInformation" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObjectStateInformation">
<xs:sequence>
<xs:element name="SubjectObjectType" type="xs:string"/>
<xs:element name="SubjectObjectId" type="xs:string"/>
<xs:element name="NewState" type="xs:string"/>
<xs:element name="NewAlarmSeverity" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>