auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Industry/AUCTION/Bid/Services/v2/BidService-v2.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--
Name: BidService-v2.xsd

Description: WSDL for Bid Service

Copyright (c) 2012 jdap Corporation. All rights reserved.
-->
<wsdl:definitions targetNamespace="http://xmlns.jdap.com/auction/Bid/Services/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.jdap.com/auction/Bid/Services/v2"
                  xmlns:fault="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:bidmsg="http://xmlns.jdap.com/auction/Bid/Messages/v2" name="BidService_v2">
    <wsdl:documentation>Version 1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.jdap.com/auction/Bid/Messages/v2"
                        schemaLocation="../../../../../../EnterpriseObjectLibrary/Industry/AUCTION/Bid/Messages/v2/BidMessages-v2.xsd"/>
            <xsd:import schemaLocation="../../../../../../EnterpriseObjectLibrary/Common/Fault/v2/ApiFault-v2.xsd"
                        namespace="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"/>
        </xsd:schema>
    </wsdl:types>
     <wsdl:message name="CreateBidRequest">
        <wsdl:part name="input" element="bidmsg:CreateBidRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateBidResponse">
        <wsdl:part name="output" element="bidmsg:CreateBidResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateBidRequest">
        <wsdl:part name="input" element="bidmsg:UpdateBidRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateBidResponse">
        <wsdl:part name="output" element="bidmsg:UpdateBidResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteBidRequest">
        <wsdl:part name="input" element="bidmsg:DeleteBidRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteBidResponse">
        <wsdl:part name="output" element="bidmsg:DeleteBidResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QueryBidRequest">
        <wsdl:part name="input" element="bidmsg:QueryBidRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryBidResponse">
        <wsdl:part name="output" element="bidmsg:QueryBidResponseMessage"/>
    </wsdl:message>

     <!-- Query bid details message-->
    
     <wsdl:message name="QueryBidDetailsRequest">
        <wsdl:part name="input" element="bidmsg:QueryBidDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryBidDetailsResponse">
        <wsdl:part name="output" element="bidmsg:QueryBidDetailsResponseMessage"/>
    </wsdl:message>
    <!-- Adding messages for UC 9a -->
    <wsdl:message name="CreateBidDetailsRequest">
        <wsdl:part name="input" element="bidmsg:CreateBidDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateBidDetailsResponse">
        <wsdl:part name="output" element="bidmsg:CreateBidDetailsResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="fault:ApiFault"/>
    </wsdl:message>
    <wsdl:portType name="BidServicePortType_v2">

        <wsdl:operation name="createBid">
            <wsdl:input message="tns:CreateBidRequest"/>
            <wsdl:output message="tns:CreateBidResponse"/>
            <wsdl:fault name="CreateBidFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateBid">
            <wsdl:input message="tns:UpdateBidRequest"/>
            <wsdl:output message="tns:UpdateBidResponse"/>
            <wsdl:fault name="UpdateBidFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="queryBidDetails">
            <wsdl:input message="tns:QueryBidDetailsRequest"/>
            <wsdl:output message="tns:QueryBidDetailsResponse"/>
            <wsdl:fault name="QueryBidDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteBid">
            <wsdl:input message="tns:DeleteBidRequest"/>
            <wsdl:output message="tns:DeleteBidResponse"/>
            <wsdl:fault name="DeleteBidFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="queryBid">
            <wsdl:input message="tns:QueryBidRequest"/>
            <wsdl:output message="tns:QueryBidResponse"/>
            <wsdl:fault name="QueryBidFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="createBidDetails">
            <wsdl:input message="tns:CreateBidDetailsRequest"/>
            <wsdl:output message="tns:CreateBidDetailsResponse"/>
            <wsdl:fault name="CreateBidDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="BidServiceBinding_v2" type="tns:BidServicePortType_v2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="createBid">
            <soap:operation style="document" soapAction="createBid"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateBidFault">
                <soap:fault name="CreateBidFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateBid">
            <soap:operation style="document" soapAction="updateBid"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="UpdateBidFault">
                <soap:fault name="UpdateBidFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryBidDetails">
            <soap:operation style="document" soapAction="queryBidDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryBidDetailsFault">
                <soap:fault name="QueryBidDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="deleteBid">
            <soap:operation style="document" soapAction="deleteBid"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="DeleteBidFault">
                <soap:fault name="DeleteBidFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryBid">
            <soap:operation style="document" soapAction="queryBid"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryBidFault">
                <soap:fault name="QueryBidFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="createBidDetails">
            <soap:operation style="document" soapAction="createBidDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Bid/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateBidDetailsFault">
                <soap:fault name="CreateBidDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>
    <wsdl:service name="BidService_v2">
        <wsdl:port name="BidServicePort_v2" binding="tns:BidServiceBinding_v2">
            <soap:address location="http://auction-platform:8011/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
