auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/Common/ServiceStats/ABM/v1.0/ApiServiceStatsBean-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<xs:schema
	xmlns:tns="http://xmlns.avocent.com/commonplatform/cps/utils/apiosbutility/servicestats"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://xmlns.avocent.com/commonplatform/cps/utils/apiosbutility/servicestats">

	<xs:element name="getAllMonitoredBusinessServices" type="tns:getAllMonitoredBusinessServices" />

	<xs:element name="getAllMonitoredBusinessServicesResponse"
		type="tns:getAllMonitoredBusinessServicesResponse" />

	<xs:element name="getAllMonitoredBusinessServicesWithReset"
		type="tns:getAllMonitoredBusinessServicesWithReset" />

	<xs:element name="getAllMonitoredBusinessServicesWithResetResponse"
		type="tns:getAllMonitoredBusinessServicesWithResetResponse" />

	<xs:element name="getAllMonitoredProxyServices" type="tns:getAllMonitoredProxyServices" />

	<xs:element name="getAllMonitoredProxyServicesResponse"
		type="tns:getAllMonitoredProxyServicesResponse" />

	<xs:element name="getAllMonitoredProxyServicesWithReset"
		type="tns:getAllMonitoredProxyServicesWithReset" />

	<xs:element name="getAllMonitoredProxyServicesWithResetResponse"
		type="tns:getAllMonitoredProxyServicesWithResetResponse" />

	<xs:element name="getSingleServiceMonitored" type="tns:getSingleServiceMonitored" />

	<xs:element name="getSingleServiceMonitoredResponse" type="tns:getSingleServiceMonitoredResponse" />

	<xs:complexType name="getAllMonitoredProxyServicesWithReset">
		<xs:sequence>
			<xs:element name="GetAllMonitoredProxyServicesWithResetRequest"
				type="tns:allMonitoredRequest" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="allMonitoredRequest">
		<xs:sequence>
			<xs:element name="vzid" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredProxyServicesWithResetResponse">
		<xs:sequence>
			<xs:element name="GetAllMonitoredProxyServicesWithResetResponse"
				type="tns:allMonitoredResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="allMonitoredResponse">
		<xs:sequence>
			<xs:element name="serviceStatistics" type="tns:serviceStatistics"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="serviceStatistics">
		<xs:sequence>
			<xs:element name="serviceRefCollection" type="tns:serviceRefCollection"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="serviceRefCollection">
		<xs:sequence>
			<xs:element name="serviceRef" type="tns:serviceRef"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="serviceRef">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="resourceCollection" type="tns:resourceCollection"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resourceCollection">
		<xs:sequence>
			<xs:element name="resource" type="tns:resource" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="resource">
		<xs:sequence>
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="statisticCol" type="tns:statisticCol"
				minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="statisticCol">
		<xs:sequence>
			<xs:element name="statistic" type="tns:statistic"
				nillable="true" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="statistic">
		<xs:sequence>
			<xs:element name="avgValue" type="xs:string" minOccurs="0" />
			<xs:element name="countValue" type="xs:string" minOccurs="0" />
			<xs:element name="currentStatus" type="xs:string"
				minOccurs="0" />
			<xs:element name="initialStatus" type="xs:string"
				minOccurs="0" />
			<xs:element name="maxValue" type="xs:string" minOccurs="0" />
			<xs:element name="minValue" type="xs:string" minOccurs="0" />
			<xs:element name="name" type="xs:string" minOccurs="0" />
			<xs:element name="sumValue" type="xs:string" minOccurs="0" />
			<xs:element name="type" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredProxyServices">
		<xs:sequence>
			<xs:element name="GetAllMonitoredProxyServicesRequest"
				type="tns:allMonitoredRequest" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredProxyServicesResponse">
		<xs:sequence>
			<xs:element name="GetAllMonitoredProxyServicesResponse"
				type="tns:allMonitoredResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getSingleServiceMonitored">
		<xs:sequence>
			<xs:element name="GetSingleServiceMonitoredRequest" type="tns:singleMonitoredRequest"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="singleMonitoredRequest">
		<xs:sequence>
			<xs:element name="serviceDesc" type="xs:string" minOccurs="0" />
			<xs:element name="serviceName" type="xs:string" minOccurs="0" />
			<xs:element name="vzid" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getSingleServiceMonitoredResponse">
		<xs:sequence>
			<xs:element name="GetSingleServiceMonitoredResponse" type="tns:allMonitoredResponse"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredBusinessServicesWithReset">
		<xs:sequence>
			<xs:element name="GetAllMonitoredBusinessServicesWithResetRequest"
				type="tns:allMonitoredRequest" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredBusinessServicesWithResetResponse">
		<xs:sequence>
			<xs:element name="GetAllMonitoredBusinessServicesWithResetResponse"
				type="tns:allMonitoredResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredBusinessServices">
		<xs:sequence>
			<xs:element name="GetAllMonitoredBusinessServicesRequest"
				type="tns:allMonitoredRequest" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="getAllMonitoredBusinessServicesResponse">
		<xs:sequence>
			<xs:element name="GetAllMonitoredBusinessServicesResponse"
				type="tns:allMonitoredResponse" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>