auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/Common/Fault/ABM/v1.0/ApiFaultBean-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	Oracle JAX-WS 2.1.5. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://xmlns.avocent.com/api/fault/bean">

	<xs:complexType name="ApiFaultBean">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:int" />
			<xs:element name="parameters" type="xs:string" nillable="true"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>