auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Common/ServiceStats/Services/v1.0/ExternalApiServiceStatsService-v1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ExternalApiServiceStatsService"
                  targetNamespace="http://xmlns.avocent.com/Common/ServiceStats/ApiServiceStats/Services/v1.0"
                  xmlns:tns="http://xmlns.avocent.com/Common/ServiceStats/ApiServiceStats/Services/v1.0"
                  xmlns:ns1="http://xmlns.avocent.com/Common/ServiceStatistics/ApiServiceStats/Messages/v1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:flt="http://xmlns.avocent.com/Common/Fault/ApiFault/v1.0">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://xmlns.avocent.com/Common/ServiceStatistics/ApiServiceStats/Messages/v1.0"
				schemaLocation="../../../../../EnterpriseObjectLibrary/Common/ServiceStats/Messages/v1.0/ApiServiceStatsMessages-v1.0.xsd" />
		<xsd:import schemaLocation="../../../../../EnterpriseObjectLibrary/Common/Fault/v1.0/ApiFault-v1.0.xsd"
                        namespace="http://xmlns.avocent.com/Common/Fault/ApiFault/v1.0"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getAllMonitoredProxyServicesRequestMessage">
      <wsdl:part name="input" element="ns1:AllMonitoredRequest"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredProxyServicesresponseMessage">
      <wsdl:part name="output" element="ns1:AllMonitoredResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredBusinessServicesRequestMessage">
      <wsdl:part name="input" element="ns1:AllMonitoredRequest"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredBusinessServicesResponseMessage">
      <wsdl:part name="output" element="ns1:AllMonitoredResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredBusinessServicesWithResetRequestMessage">
      <wsdl:part name="input" element="ns1:AllMonitoredRequest"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredBusinessServicesWithResetResponseMessage">
      <wsdl:part name="output" element="ns1:AllMonitoredResponse"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredProxyServicesWithResetRequestMessage">
      <wsdl:part name="input" element="ns1:AllMonitoredRequest"/>
   </wsdl:message>
   <wsdl:message name="getAllMonitoredProxyServicesWithResetResponseMessage">
      <wsdl:part name="output" element="ns1:AllMonitoredResponse"/>
   </wsdl:message>
   <wsdl:message name="getSingleServiceMonitoredRequestMessage">
      <wsdl:part name="input" element="ns1:SingleMonitoredRequest"/>
   </wsdl:message>
   <wsdl:message name="getSingleServiceMonitoredResponseMessage">
      <wsdl:part name="output" element="ns1:AllMonitoredResponse"/>
   </wsdl:message>
   <wsdl:message name="Fault">
        <wsdl:part name="fault" element="flt:ApiFault"/>
    </wsdl:message>
   <wsdl:portType name="ApiServiceStatsServicePortType_v1.0">
      <wsdl:operation name="getAllMonitoredProxyServices">
         <wsdl:input message="tns:getAllMonitoredProxyServicesRequestMessage"/>
         <wsdl:output message="tns:getAllMonitoredProxyServicesresponseMessage"/>
         <wsdl:fault name="getAllMonitoredProxyServicesFault" message="tns:Fault"/>
      </wsdl:operation>
      <wsdl:operation name="getAllMonitoredBusinessServices">
         <wsdl:input message="tns:getAllMonitoredBusinessServicesRequestMessage"/>
         <wsdl:output message="tns:getAllMonitoredBusinessServicesResponseMessage"/>
         <wsdl:fault name="getAllMonitoredBusinessServicesFault" message="tns:Fault"/>
      </wsdl:operation>
      <wsdl:operation name="getAllMonitoredBusinessServicesWithReset">
         <wsdl:input message="tns:getAllMonitoredBusinessServicesWithResetRequestMessage"/>
         <wsdl:output message="tns:getAllMonitoredBusinessServicesWithResetResponseMessage"/>
         <wsdl:fault name="getAllMonitoredBusinessServicesWithResetFault" message="tns:Fault"/>
      </wsdl:operation>
      <wsdl:operation name="getAllMonitoredProxyServicesWithReset">
         <wsdl:input message="tns:getAllMonitoredProxyServicesWithResetRequestMessage"/>
         <wsdl:output message="tns:getAllMonitoredProxyServicesWithResetResponseMessage"/>
         <wsdl:fault name="getAllMonitoredProxyServicesWithResetFault" message="tns:Fault"/>
      </wsdl:operation>
      <wsdl:operation name="getSingleServiceMonitored">
         <wsdl:input message="tns:getSingleServiceMonitoredRequestMessage"/>
         <wsdl:output message="tns:getSingleServiceMonitoredResponseMessage"/>
         <wsdl:fault name="getSingleServiceMonitoredFault" message="tns:Fault"/>
      </wsdl:operation>
   </wsdl:portType>
</wsdl:definitions>