auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Apps/Monitoring/V1/InfrastructureServiceV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="urn:InfrastructureService.1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:InfrastructureService.1.0"
	name="InfrastructureService">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebo"
				schemaLocation="../../../../EnterpriseObjectLibrary/Apps/Monitoring/V1/InfrastructureServiceEBO.xsd" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import
				namespace="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
				schemaLocation="../../../../EnterpriseObjectLibrary/Apps/Monitoring/V1/InfrastructureServiceEBM.xsd" />
		</xsd:schema>
	</types>
	<message name="setDeviceThreshold">
		<part
			xmlns:ns1="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns1:SetDeviceThreshold" />
	</message>
	<message name="setDeviceThresholdResponse">
		<part
			xmlns:ns2="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns2:SetDeviceThresholdResponse" />
	</message>
	<message name="InfrastructureServiceFault">
		<part
			xmlns:ns3="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="fault" element="ns3:Fault" />
	</message>
	<message name="isMonitoringDevice">
		<part
			xmlns:ns4="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns4:IsMonitoringDevice" />
	</message>
	<message name="isMonitoringDeviceResponse">
		<part
			xmlns:ns5="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns5:IsMonitoringDeviceResponse" />
	</message>
	<message name="getCommPropertiesForMonitoredDevice">
		<part
			xmlns:ns6="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns6:GetCommPropertiesForMonitoredDevice" />
	</message>
	<message name="getCommPropertiesForMonitoredDeviceResponse">
		<part
			xmlns:ns7="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns7:GetCommPropertiesForMonitoredDeviceResponse" />
	</message>
	<message name="getCollectionRules">
		<part
			xmlns:ns8="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns8:GetCollectionRules" />
	</message>
	<message name="getCollectionRulesResponse">
		<part
			xmlns:ns9="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns9:GetCollectionRulesResponse" />
	</message>
	<message name="getCommnDefaultProperties">
		<part
			xmlns:ns10="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns10:GetCommnDefaultProperties" />
	</message>
	<message name="getCommnDefaultPropertiesResponse">
		<part
			xmlns:ns11="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns11:GetCommnDefaultPropertiesResponse" />
	</message>
	<message name="setDeviceToBeMonitored">
		<part
			xmlns:ns12="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns12:SetDeviceToBeMonitored" />
	</message>
	<message name="setDeviceToBeMonitoredResponse">
		<part
			xmlns:ns13="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns13:SetDeviceToBeMonitoredResponse" />
	</message>
	<message name="updateCollectionRules">
		<part
			xmlns:ns14="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns14:UpdateCollectionRules" />
	</message>
	<message name="updateCollectionRulesResponse">
		<part
			xmlns:ns15="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns15:UpdateCollectionRulesResponse" />
	</message>
	<message name="getDefaultCollectionRules">
		<part
			xmlns:ns16="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns16:GetDefaultCollectionRules" />
	</message>
	<message name="getDefaultCollectionRulesResponse">
		<part
			xmlns:ns17="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns17:GetDefaultCollectionRulesResponse" />
	</message>
	<message name="setManagedElementDataState">
		<part
			xmlns:ns18="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns18:SetManagedElementDataStateRequest" />
	</message>
	<message name="setManagedElementDataStateResponse">
		<part
			xmlns:ns19="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns19:SetManagedElementDataStateResponse" />
	</message>
	<message name="setManagedElementDataStates">
		<part
			xmlns:ns20="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns20:SetManagedElementDataStatesRequest" />
	</message>
	<message name="setManagedElementDataStatesResponse">
		<part
			xmlns:ns21="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns21:SetManagedElementDataStatesResponse" />
	</message>
	<message name="getManagedElementDataState">
		<part
			xmlns:ns22="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns22:GetManagedElementDataStateRequest" />
	</message>
	<message name="getManagedElementDataStateResponse">
		<part
			xmlns:ns23="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns23:GetManagedElementDataStateResponse" />
	</message>
	<message name="getManagedElementDataStates">
		<part
			xmlns:ns24="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns24:GetManagedElementDataStatesRequest" />
	</message>
	<message name="getManagedElementDataStatesResponse">
		<part
			xmlns:ns25="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns25:GetManagedElementDataStatesResponse" />
	</message>
	<message name="setDeviceToBeUnmonitored">
		<part
			xmlns:ns26="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns26:SetDeviceToBeUnmonitoredRequest" />
	</message>
	<message name="setDeviceToBeUnmonitoredResponse">
		<part
			xmlns:ns27="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns27:SetDeviceToBeUnmonitoredResponse" />
	</message>
	<message name="deleteManagedElement">
		<part
			xmlns:ns28="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns28:DeleteManagedElementRequest" />
	</message>
	<message name="deleteManagedElementResponse">
		<part
			xmlns:ns29="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns29:DeleteManagedElementResponse" />
	</message>
	<message name="setDeviceCollectionToAcceleratedMode">
		<part
			xmlns:ns30="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns30:SetDeviceCollectionToAcceleratedModeRequest" />
	</message>
	<message name="setDeviceCollectionToAcceleratedModeResponse">
		<part
			xmlns:ns31="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns31:SetDeviceCollectionToAcceleratedModeResponse" />
	</message>
	<message name="setDeviceCollectionToNormalMode">
		<part
			xmlns:ns32="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns32:SetDeviceCollectionToNormalModeRequest" />
	</message>
	<message name="setDeviceCollectionToNormalModeResponse">
		<part
			xmlns:ns33="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns33:SetDeviceCollectionToNormalModeResponse" />
	</message>
	<message name="getDeviceStatusPollingInterval">
		<part
			xmlns:ns34="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns34:GetDeviceStatusPollingIntervalRequest" />
	</message>
	<message name="getDeviceStatusPollingIntervalResponse">
		<part
			xmlns:ns35="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns35:GetDeviceStatusPollingIntervalResponse" />
	</message>
	<message name="setDeviceStatusPollingInterval">
		<part
			xmlns:ns36="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns36:SetDeviceStatusPollingIntervalRequest" />
	</message>
	<message name="setDeviceStatusPollingIntervalResponse">
		<part
			xmlns:ns37="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns37:SetDeviceStatusPollingIntervalResponse" />
	</message>
	<message name="setDeviceListStatusPollingInterval">
		<part
			xmlns:ns38="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns38:SetDeviceListStatusPollingIntervalRequest" />
	</message>
	<message name="setDeviceListStatusPollingIntervalResponse">
		<part
			xmlns:ns39="http://xmlns.avocent.com/commonplatform/mss/service/infrastructure/ebm"
			name="parameters" element="ns39:SetDeviceListStatusPollingIntervalResponse" />
	</message>
	<portType name="InfrastructureServicePortType">
		<operation name="setDeviceThreshold">
			<input message="tns:setDeviceThreshold" />
			<output message="tns:setDeviceThresholdResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="isMonitoringDevice">
			<input message="tns:isMonitoringDevice" />
			<output message="tns:isMonitoringDeviceResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getCommPropertiesForMonitoredDevice">
			<input message="tns:getCommPropertiesForMonitoredDevice" />
			<output message="tns:getCommPropertiesForMonitoredDeviceResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getCollectionRules">
			<input message="tns:getCollectionRules" />
			<output message="tns:getCollectionRulesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getCommnDefaultProperties">
			<input message="tns:getCommnDefaultProperties" />
			<output message="tns:getCommnDefaultPropertiesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceToBeMonitored">
			<input message="tns:setDeviceToBeMonitored" />
			<output message="tns:setDeviceToBeMonitoredResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="updateCollectionRules">
			<input message="tns:updateCollectionRules" />
			<output message="tns:updateCollectionRulesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getDefaultCollectionRules">
			<input message="tns:getDefaultCollectionRules" />
			<output message="tns:getDefaultCollectionRulesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setManagedElementDataState">
			<input message="tns:setManagedElementDataState" />
			<output message="tns:setManagedElementDataStateResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setManagedElementDataStates">
			<input message="tns:setManagedElementDataStates" />
			<output message="tns:setManagedElementDataStatesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getManagedElementDataState">
			<input message="tns:getManagedElementDataState" />
			<output message="tns:getManagedElementDataStateResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getManagedElementDataStates">
			<input message="tns:getManagedElementDataStates" />
			<output message="tns:getManagedElementDataStatesResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceToBeUnmonitored">
			<input message="tns:setDeviceToBeUnmonitored" />
			<output message="tns:setDeviceToBeUnmonitoredResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="deleteManagedElement">
			<input message="tns:deleteManagedElement" />
			<output message="tns:deleteManagedElementResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceCollectionToAcceleratedMode">
			<input message="tns:setDeviceCollectionToAcceleratedMode" />
			<output message="tns:setDeviceCollectionToAcceleratedModeResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceCollectionToNormalMode">
			<input message="tns:setDeviceCollectionToNormalMode" />
			<output message="tns:setDeviceCollectionToNormalModeResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="getDeviceStatusPollingInterval">
			<input message="tns:getDeviceStatusPollingInterval" />
			<output message="tns:getDeviceStatusPollingIntervalResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceStatusPollingInterval">
			<input message="tns:setDeviceStatusPollingInterval" />
			<output message="tns:setDeviceStatusPollingIntervalResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
		<operation name="setDeviceListStatusPollingInterval">
			<input message="tns:setDeviceListStatusPollingInterval" />
			<output message="tns:setDeviceListStatusPollingIntervalResponse" />
			<fault message="tns:InfrastructureServiceFault" name="InfrastructureServiceFault" />
		</operation>
	</portType>
</definitions>