auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/CPS/Reports/V1/CPS_DynamicReportingEJB_PS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions targetNamespace="http://report.avocent.com" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://report.avocent.com" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://report.avocent.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://report.avocent.com" xmlns:intf="http://report.avocent.com" xmlns:tns1="http://dto.report.avocent.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://dto.report.avocent.com"/>
      <xsd:element name="save">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportData" type="tns1:ReportData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns1_ReportFileContents">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:ReportFileContents"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="saveResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="saveReturn" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setCredentials">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="endPoint" type="xsd:string"/>
            <xsd:element name="userName" type="xsd:string"/>
            <xsd:element name="password" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setCredentialsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="setCredentialsReturn" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportInputControls">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportID" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getReportInputControlsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getReportInputControlsReturn" type="tns1:ReportInputControls"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns1_ParameterProps">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:ParameterProps"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="executeReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportInfo" type="tns1:ReportInfo"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ArrayOf_tns1_ReportInputParams">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:ReportInputParams"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="executeReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="executeReportReturn" type="tns1:ReportFileContents"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeAndSaveReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reportInfo" type="tns1:ReportInfo"/>
            <xsd:element name="targetPath" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeAndSaveReportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="executeAndSaveReportReturn" type="tns1:ReportFileContents"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://dto.report.avocent.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://report.avocent.com" xmlns:intf="http://report.avocent.com" xmlns:tns1="http://dto.report.avocent.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://report.avocent.com"/>
      <xsd:complexType name="ReportFileContents">
        <xsd:sequence>
          <xsd:element name="fileData" nillable="true" type="xsd:base64Binary"/>
          <xsd:element name="fileName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportData">
        <xsd:sequence>
          <xsd:element name="description" nillable="true" type="xsd:string"/>
          <xsd:element name="fileName" nillable="true" type="xsd:string"/>
          <xsd:element name="folderName" nillable="true" type="xsd:string"/>
          <xsd:element name="lable" nillable="true" type="xsd:string"/>
          <xsd:element name="reportFileContents" nillable="true" type="impl:ArrayOf_tns1_ReportFileContents"/>
          <xsd:element name="reportFormat" nillable="true" type="xsd:string"/>
          <xsd:element name="targetPath" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ParameterProps">
        <xsd:sequence>
          <xsd:element name="propertyName" nillable="true" type="xsd:string"/>
          <xsd:element name="propertyValue" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportInputControls">
        <xsd:sequence>
          <xsd:element name="dataType" nillable="true" type="xsd:string"/>
          <xsd:element name="defaultValue" nillable="true" type="xsd:string"/>
          <xsd:element name="mandatory" type="xsd:boolean"/>
          <xsd:element name="maxValue" nillable="true" type="xsd:string"/>
          <xsd:element name="minValue" nillable="true" type="xsd:string"/>
          <xsd:element name="paramDescription" nillable="true" type="xsd:string"/>
          <xsd:element name="paramName" nillable="true" type="xsd:string"/>
          <xsd:element name="properties" nillable="true" type="impl:ArrayOf_tns1_ParameterProps"/>
          <xsd:element name="query" nillable="true" type="xsd:string"/>
          <xsd:element name="readOnly" type="xsd:boolean"/>
          <xsd:element name="strictToMaximum" type="xsd:boolean"/>
          <xsd:element name="strictToMinimum" type="xsd:boolean"/>
          <xsd:element name="visible" type="xsd:boolean"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportInputParams">
        <xsd:sequence>
          <xsd:element name="parameterDataType" nillable="true" type="xsd:string"/>
          <xsd:element name="parameterName" nillable="true" type="xsd:string"/>
          <xsd:element name="parameterValue" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReportInfo">
        <xsd:sequence>
          <xsd:element name="inputParams" nillable="true" type="impl:ArrayOf_tns1_ReportInputParams"/>
          <xsd:element name="outPutType" nillable="true" type="xsd:string"/>
          <xsd:element name="reportURI" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="saveRequest">
    <WL5G3N0:part element="WL5G3N1:save" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executeReportResponse">
    <WL5G3N0:part element="WL5G3N1:executeReportResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getReportInputControlsRequest">
    <WL5G3N0:part element="WL5G3N1:getReportInputControls" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executeAndSaveReportResponse">
    <WL5G3N0:part element="WL5G3N1:executeAndSaveReportResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="getReportInputControlsResponse">
    <WL5G3N0:part element="WL5G3N1:getReportInputControlsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="saveResponse">
    <WL5G3N0:part element="WL5G3N1:saveResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="setCredentialsResponse">
    <WL5G3N0:part element="WL5G3N1:setCredentialsResponse" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executeAndSaveReportRequest">
    <WL5G3N0:part element="WL5G3N1:executeAndSaveReport" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="executeReportRequest">
    <WL5G3N0:part element="WL5G3N1:executeReport" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="setCredentialsRequest">
    <WL5G3N0:part element="WL5G3N1:setCredentials" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="DynamicReportEJB">
    <WL5G3N0:operation name="save">
      <WL5G3N0:input message="WL5G3N1:saveRequest" name="saveRequest"/>
      <WL5G3N0:output message="WL5G3N1:saveResponse" name="saveResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="setCredentials">
      <WL5G3N0:input message="WL5G3N1:setCredentialsRequest" name="setCredentialsRequest"/>
      <WL5G3N0:output message="WL5G3N1:setCredentialsResponse" name="setCredentialsResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getReportInputControls">
      <WL5G3N0:input message="WL5G3N1:getReportInputControlsRequest" name="getReportInputControlsRequest"/>
      <WL5G3N0:output message="WL5G3N1:getReportInputControlsResponse" name="getReportInputControlsResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="executeReport">
      <WL5G3N0:input message="WL5G3N1:executeReportRequest" name="executeReportRequest"/>
      <WL5G3N0:output message="WL5G3N1:executeReportResponse" name="executeReportResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="executeAndSaveReport">
      <WL5G3N0:input message="WL5G3N1:executeAndSaveReportRequest" name="executeAndSaveReportRequest"/>
      <WL5G3N0:output message="WL5G3N1:executeAndSaveReportResponse" name="executeAndSaveReportResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="DynamicReportEJBSoapBinding" type="WL5G3N1:DynamicReportEJB">
    <WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="save">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="saveRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="saveResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="setCredentials">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="setCredentialsRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="setCredentialsResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="getReportInputControls">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="getReportInputControlsRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="getReportInputControlsResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="executeReport">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="executeReportRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="executeReportResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="executeAndSaveReport">
      <WL5G3N2:operation/>
      <WL5G3N0:input name="executeAndSaveReportRequest">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output name="executeAndSaveReportResponse">
        <WL5G3N2:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="DynamicReportEJBService">
    <WL5G3N0:port binding="WL5G3N1:DynamicReportEJBSoapBinding" name="DynamicReportEJB">
      <WL5G3N2:address location="http://auction-platform:8011/CPS_Report_Application/CPS_DynamicReportEJBService/ProxyService/CPS_DynamicReportingEJB_PS"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>
