auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Industry/AUCTION/Item/Services/v2/ItemService-v2.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--
Name: ItemService-v2.xsd

Description: WSDL for Item Service

Copyright (c) 2012 jdap Corporation. All rights reserved.
-->
<wsdl:definitions targetNamespace="http://xmlns.jdap.com/auction/Item/Services/v2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xmlns.jdap.com/auction/Item/Services/v2"
                  xmlns:fault="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:itemmsg="http://xmlns.jdap.com/auction/Item/Messages/v2" name="ItemService_v2">
    <wsdl:documentation>Version 1.0</wsdl:documentation>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.jdap.com/auction/Item/Messages/v2"
                        schemaLocation="../../../../../../EnterpriseObjectLibrary/Industry/AUCTION/Item/Messages/v2/ItemMessages-v2.xsd"/>
            <xsd:import schemaLocation="../../../../../../EnterpriseObjectLibrary/Common/Fault/v2/ApiFault-v2.xsd"
                        namespace="http://xmlns.jdap.com/Common/Fault/ApiFault/v2"/>
        </xsd:schema>
    </wsdl:types>
     <wsdl:message name="CreateItemRequest">
        <wsdl:part name="input" element="itemmsg:CreateItemRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateItemResponse">
        <wsdl:part name="output" element="itemmsg:CreateItemResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateItemRequest">
        <wsdl:part name="input" element="itemmsg:UpdateItemRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="UpdateItemResponse">
        <wsdl:part name="output" element="itemmsg:UpdateItemResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteItemRequest">
        <wsdl:part name="input" element="itemmsg:DeleteItemRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="DeleteItemResponse">
        <wsdl:part name="output" element="itemmsg:DeleteItemResponseMessage"/>
    </wsdl:message>

    <wsdl:message name="QueryItemRequest">
        <wsdl:part name="input" element="itemmsg:QueryItemRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryItemResponse">
        <wsdl:part name="output" element="itemmsg:QueryItemResponseMessage"/>
    </wsdl:message>

     <!-- Query item details message-->
    
     <wsdl:message name="QueryItemDetailsRequest">
        <wsdl:part name="input" element="itemmsg:QueryItemDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="QueryItemDetailsResponse">
        <wsdl:part name="output" element="itemmsg:QueryItemDetailsResponseMessage"/>
    </wsdl:message>
    <!-- Adding messages for UC 9a -->
    <wsdl:message name="CreateItemDetailsRequest">
        <wsdl:part name="input" element="itemmsg:CreateItemDetailsRequestMessage"/>
    </wsdl:message>
    <wsdl:message name="CreateItemDetailsResponse">
        <wsdl:part name="output" element="itemmsg:CreateItemDetailsResponseMessage"/>
    </wsdl:message>
    <wsdl:message name="Fault">
        <wsdl:part name="fault" element="fault:ApiFault"/>
    </wsdl:message>
    <wsdl:portType name="ItemServicePortType_v2">

        <wsdl:operation name="createItem">
            <wsdl:input message="tns:CreateItemRequest"/>
            <wsdl:output message="tns:CreateItemResponse"/>
            <wsdl:fault name="CreateItemFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="updateItem">
            <wsdl:input message="tns:UpdateItemRequest"/>
            <wsdl:output message="tns:UpdateItemResponse"/>
            <wsdl:fault name="UpdateItemFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="queryItemDetails">
            <wsdl:input message="tns:QueryItemDetailsRequest"/>
            <wsdl:output message="tns:QueryItemDetailsResponse"/>
            <wsdl:fault name="QueryItemDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
        <wsdl:operation name="deleteItem">
            <wsdl:input message="tns:DeleteItemRequest"/>
            <wsdl:output message="tns:DeleteItemResponse"/>
            <wsdl:fault name="DeleteItemFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="queryItem">
            <wsdl:input message="tns:QueryItemRequest"/>
            <wsdl:output message="tns:QueryItemResponse"/>
            <wsdl:fault name="QueryItemFault" message="tns:Fault"/>
        </wsdl:operation>

        <wsdl:operation name="createItemDetails">
            <wsdl:input message="tns:CreateItemDetailsRequest"/>
            <wsdl:output message="tns:CreateItemDetailsResponse"/>
            <wsdl:fault name="CreateItemDetailsFault" message="tns:Fault"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ItemServiceBinding_v2" type="tns:ItemServicePortType_v2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="createItem">
            <soap:operation style="document" soapAction="createItem"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateItemFault">
                <soap:fault name="CreateItemFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="updateItem">
            <soap:operation style="document" soapAction="updateItem"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="UpdateItemFault">
                <soap:fault name="UpdateItemFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryItemDetails">
            <soap:operation style="document" soapAction="queryItemDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryItemDetailsFault">
                <soap:fault name="QueryItemDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="deleteItem">
            <soap:operation style="document" soapAction="deleteItem"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="DeleteItemFault">
                <soap:fault name="DeleteItemFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="queryItem">
            <soap:operation style="document" soapAction="queryItem"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="QueryItemFault">
                <soap:fault name="QueryItemFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
         <wsdl:operation name="createItemDetails">
            <soap:operation style="document" soapAction="createItemDetails"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.avocent.com/AUCTION/Item/Services/v2"/>
            </wsdl:output>
            <wsdl:fault name="CreateItemDetailsFault">
                <soap:fault name="CreateItemDetailsFault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        
    </wsdl:binding>
    <wsdl:service name="ItemService_v2">
        <wsdl:port name="ItemServicePort_v2" binding="tns:ItemServiceBinding_v2">
            <soap:address location="http://auction-platform:8011/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
