auction/common/xml/SOAMetaData/Components/EnterpriseBusinessServiceLibrary/Common/Fault/v1.0/ExternalApiFaultService-v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ExternalApiFaultService" targetNamespace="http://xmlns.avocent.com/Common/Fault/ApiFault/Services/v1.0" xmlns:ns1="http://xmlns.avocent.com/Common/Fault/ApiFault/Messages/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.avocent.com/Common/Fault/ApiFault/Services/v1.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/">
    <wsdl:documentation>
        <abstractWSDL>https://pun-ft-20219.systemtest.com:8002/soa-infra/services/default/ExternalApiFaultService!1.0/ExternalApiFaultService-v1.0.wsdl</abstractWSDL>
    </wsdl:documentation>
    <plt:partnerLinkType name="ApiFaultServicePortType_v1.0_plt">
        <plt:role name="api_fault_role">
            <plt:portType name="tns:ApiFaultServicePortType_v1.0"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.avocent.com/Common/Fault/ApiFault/Messages/v1.0" schemaLocation="../../../../EnterpriseObjectLibrary/Common/Fault/v1.0/ApiFaultMessages-v1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="ReportFaultInputMessage">
        <wsdl:part name="input" element="ns1:ReportFault"/>
    </wsdl:message>
    <wsdl:message name="ReportCommunicationFaultInputMessage">
        <wsdl:part name="input" element="ns1:ReportCommunicationFault"/>
    </wsdl:message>
    <wsdl:message name="ReportDisabledFaultInputMessage">
        <wsdl:part name="input" element="ns1:ReportDisabledFault"/>
    </wsdl:message>
    <wsdl:message name="ReportCommunicationFaultWithReflowInputMessage">
        <wsdl:part name="input" element="ns1:ReportCommunicationFaultWithReflow"/>
    </wsdl:message>
    <wsdl:portType name="ApiFaultServicePortType_v1.0">
        <wsdl:operation name="reportFault">
            <wsdl:input message="tns:ReportFaultInputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="reportCommunicationFault">
            <wsdl:input message="tns:ReportCommunicationFaultInputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="reportDisabledFault">
            <wsdl:input message="tns:ReportDisabledFaultInputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="reportCommunicationFaultWithReflow">
            <wsdl:input message="tns:ReportCommunicationFaultWithReflowInputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
 </wsdl:definitions>