auction/common/xml/SOAMetaData/Components/EnterpriseObjectLibrary/Apps/Monitoring/V1/DatapointServiceEBO.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.avocent.com/commonplatform/mss/service/datapoint/ebm" xmlns:datapoint="http://xmlns.avocent.com/commonplatform/mss/service/datapoint/ebo" xmlns:jxb="http://java.sun.com/xml/ns/jaxb" xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.avocent.com/commonplatform/mss/service/datapoint/ebm" elementFormDefault="qualified" attributeFormDefault="unqualified" jxb:version="1.0" jxb:extensionBindingPrefixes="xjc">

  <xs:annotation>
    <xs:appinfo>
      <jxb:globalBindings generateIsSetMethod="true">
        <xjc:serializable uid="12341"/>
      </jxb:globalBindings>
      <jxb:schemaBindings>
				<jxb:package name="com.avocent.commonplatform.mss.service.datapoint.endpoint.model"/>
			</jxb:schemaBindings>

    </xs:appinfo>
  </xs:annotation>            
            
    <xsd:import namespace="http://xmlns.avocent.com/commonplatform/mss/service/datapoint/ebo" schemaLocation="DatapointServiceEBM.xsd"/>
    <xsd:complexType name="TimeseriesDataRequest">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="TimeseriesData" type="datapoint:DatapointParameters"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LastTimeseriesDataRequest">

        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="LastTimeseriesData" type="datapoint:LastDatapointParameters"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeseriesDataSummaryRequest">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="TimeseriesDataSummary" type="datapoint:DatapointSummaryParameters"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="GetLastCollectedValuesTypesRequest">
        <xsd:sequence minOccurs="1" maxOccurs="unbounded">
            <xsd:element name="GetLastCollectedValues" type="datapoint:DataPointIdEBO"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeseriesDataResponse">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="TimeseriesData" type="datapoint:Datapoint"/>
        </xsd:sequence>

    </xsd:complexType>
    <xsd:complexType name="LastTimeseriesDataResponse">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="TimeseriesData" type="datapoint:Datapoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TimeseriesDataSummaryResponse">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="TimeseriesDataSummary" type="datapoint:DatapointSummary"/>

        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetLastCollectedValuesTypesResponse">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="Result" type="datapoint:DataPointEBO"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ErrorMessage">
        <xsd:all>

            <xsd:element name="ErrorMessage" type="xsd:string"/>
        </xsd:all>
    </xsd:complexType>
     <xsd:complexType name="SaveDatapointRequest">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="SaveDatapointRequestData" type="datapoint:SaveDatapointRequestParameters"/>
        </xsd:sequence>
    </xsd:complexType>
     <xsd:complexType name="SaveDatapointResponse">

        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:element name="status" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="TimeseriesDataRequest" type="TimeseriesDataRequest"/>
    <xsd:element name="LastTimeseriesDataRequest" type="LastTimeseriesDataRequest"/>
    <xsd:element name="TimeseriesDataSummaryRequest" type="TimeseriesDataSummaryRequest"/>
    <xsd:element name="GetLastCollectedValuesTypesRequest" type="GetLastCollectedValuesTypesRequest"/>
    <xsd:element name="TimeseriesDataResponse" type="TimeseriesDataResponse"/>

    <xsd:element name="LastTimeseriesDataResponse" type="TimeseriesDataResponse"/>
    <xsd:element name="TimeseriesDataSummaryResponse" type="TimeseriesDataSummaryResponse"/>
    <xsd:element name="GetLastCollectedValuesTypesResponse" type="GetLastCollectedValuesTypesResponse"/>
    <xsd:element name="ErrorMessage" type="ErrorMessage"/>
    <xsd:element name="SaveDatapointRequest" type="SaveDatapointRequest"/>
    <xsd:element name="SaveDatapointResponse" type="SaveDatapointResponse"/>
</xsd:schema>
