auction/common/xml/api-configuration/xsd/ApiServiceRequest.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema
	xmlns="http://osb.avocent.com/commonplatform/service/ApiService"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://osb.avocent.com/commonplatform/service/ApiService">

	<xsd:element name="newOperationRequest" type="newOperationRequestType" />

        <xsd:complexType name="newOperationRequestType">
          <xsd:sequence>
            <xsd:element name="arg1" type="xsd:string"/>
            <xsd:element name="arg2" type="xsd:string"/>
            <xsd:element name="arg3" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
	
</xsd:schema>